---
---

@import "{{ site.theme }}";

.inner {
  width: 1024px;
  max-width: 100%;
}

.section {
    max-width: 100%;
}

.wrapper {
    width: 1024px;
    margin:0 auto;
    position:relative;
}

.nav {
    left:40%;
}

.footer {
    left:40%;
}